.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.counter {
  margin: 10px auto;
  width: 50%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.counter-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  margin: 5px;
  font-size: 14px;
}